@using EntityLayer.Concrete
@model  List<Heading>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>
<br />

<table class="table tab-content table-bordered">
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>Kategori</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.HeadingID</th>
            <th>@item.HeadingName</th>
            <th>@item.Category.CategoryName</th>
        </tr>
    }
</table>
<br />
<a href="/Heading/AddHeading/" class="btn btn-info"> Yeni Başlık Girişi</a>
